@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header styles */
.nav-bar .nav-title img {
  width: 40.42px;
  height: 51px;
}
.header {
  background: #562eff;
  height: 100px;
}
.nav-title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-title p {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.nav-info {
  display: flex;
  align-items: center;
  gap: 36px;
}
.nav-info a {
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
